body{
	padding-top:50px;
}
.am-header{
	position: fixed !important;
	top: 0;
	z-index: 9999;
}
.am-slides{
	width: 100%;
    overflow: hidden;
    margin: 0;
    list-style: none;
}
 
.am-slider-default .am-direction-nav a:before{
	color: white;
}
.am-slider-default .am-control-nav li a.am-active{
	background: #f0f0f0;
}
.am-slider-default .am-control-nav li a{
	width: 8px;
	height: 8px;
	border-radius: none;
}
.am-slider-default .am-control-nav{
	bottom:-2px;
}
#border_username,#border_psw ,#reg_phone,#reg_psw,#reg_username,#reg_email,#lawReg_username,#lawReg_psw,#lawReg_code{
	padding:10px;
	border:0;
	border-bottom: 1px solid #ccc;
	outline: none;
	box-shadow: none;
}
.app_title{
	font-size:30px;
	font-family:cursive;
	font-weight: 800;
	color:#0e90d2;
	text-align: center;
}
.register{
	text-align: center;
}
#list{
	width:100%;
	border-collapse:separate;
	text-align: center;
	color:white;
}
.iconsize{
	font-size:1.8em;
}


 [id^=data]{
	height: 100px;
}
#list:nth-child(odd){
	border-left: 10px solid #ccc;
	border-bottom: 2px solid #ccc;
}
#list:nth-child(even){
	border-right: 10px solid #ccc;
	border-bottom: 2px solid #ccc;
}
#data1,#data8{
	background-color: rgb(52, 85, 190);
}
#data2,#data7{
	background-color:rgb(52, 190, 75);
}
#data3,#data6{
	background-color:rgb(72, 13, 76);
}
#data4,#data5{
	background-color:rgb(213, 94, 20);
}

