html,body{
	padding-top:7.2%;
	height:100%;
}
@media screen and (max-height: 480px) {
    html,body {
        padding-top:6%;
        padding-bottom:5%;
    }#list{
    	margin-top:7%;
    	height: 58%;
		text-align: center;
		color:white;
    }
}
#app{
	height: 100%;
}
.am-header{
	position: fixed !important;
	top: 0;
	z-index: 9999;
	height: 8%;
}
.am-slider-c2{
	height: 22%;
}
.am-slides{
	width: 100%;
    overflow: hidden;
    margin: 0;
    list-style: none;
}
 
.am-slider-default .am-direction-nav a:before{
	color: white;
}
.am-slider-default .am-control-nav li a.am-active{
	background: #f0f0f0;
}
.am-slider-default .am-control-nav li a{
	width: 8px;
	height: 8px;
	border-radius: none;
}
.am-slider-default .am-control-nav{
	bottom:-2px;
}
#border_username,#border_psw ,#reg_phone,#reg_psw,#reg_username,#reg_email,#lawReg_username,#lawReg_psw,#lawReg_code{
	padding:10px;
	border:0;
	border-bottom: 1px solid #ccc;
	outline: none;
	box-shadow: none;
}
.app_title{
	font-size:30px;
	font-family:cursive;
	font-weight: 800;
	color:#0e90d2;
	text-align: center;
}
#app main{
	height:100%;
}
.register{
	text-align: center;
}
#list{
	height: 70%;
	text-align: center;
	color:white;
}
#list div{
	width: 50%;
	height: 25%;
	box-sizing:border-box;
}
.iconsize{
	font-size:2em;
}



 [id^=data]{
	height: 25%;
	line-height: 80px;
}

#data1,#data8{
	background-color:rgba(52, 85, 190,0.8);
}
#data2,#data7{
	background-color:rgba(52, 190, 75,0.8);
}
#data3,#data6{
	background-color:rgba(72, 13, 76,0.8);
}
#data4,#data5{
	background-color:rgba(213, 94, 20,0.8);
}

